.cabinet {
    display: flex;
}

.cabinet__form {
    width: 340px;
}

.cabinet__avatar {
    padding-left: 11rem;
    flex-grow: 1;
}

.cabinet__avatar-img {
    display: block;
    width: 150px;
    height: 150px;
    margin-bottom: 1.5rem;
}

.cabinet__file {
    font-size: 1.4rem;
    color: var(--blue);
    text-decoration: underline;
    cursor: pointer;
}

.cabinet__file input {
    display: none;
}

.cabinet__file:hover {
    text-decoration: none;
}

/* media */

@media (max-width: 575px) {
    .cabinet {
        flex-direction: column;
    }

    .cabinet__form {
        order: 2;
    }

    .cabinet__avatar {
        order: 1;
        padding-left: 0;
        margin-bottom: 2rem;
    }
}