:root {
    --gray: #202020;
    --black: #121212;
    --white: #fff;
    --color-header: #0D0D0D;
    --red-btn: #ED3024;
    --blue-btn: #3137C9;
    --blue: #3137C9;
    --dark-blue: darkblue;
}